@import "./vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "./vendor/font-awesome-4.6.3/scss/font-awesome.scss";
// @import "./header.scss";
// @import "navbar.scss";
$app-default: white;
$app-primary: #8FB295;
$app-secondary: #CCFED6;
$moose: #415144;
$large-font: #5B625A;

html, body {
  max-width: 100%;
  height: 100%;
  font-family: 'Crete Round', serif;
}
body {
  color: black;
}
.mini-header {
  background-color: $app-primary;
  color: $app-default;
  height: 30px;

}
.mini-header li {
  display: inline;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // max-width: 100%;
  background: $moose;
  text-align: center;
  z-index: 1;
  border-bottom: 2px solid $large-font;
  box-shadow:0px 0px 10px $large-font;
}


.header-background {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-logo {
  max-width: 200px;
  max-height: 200px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#webapp-title {
    color: white;
    font-family: 'Almendra', serif;
    font-size: 2.6em;
    letter-spacing: 3px;
}



.spacing {
  color: white;
  font-size: 2.6em;
  font-family: 'Almendra', serif;
}

.nav-block {
  display: flex;
  align-items: center;
  background: $moose;
  padding-right: 30px;
  font-size: 1.6em;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li {
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 940px) {


  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background: $moose;
  }

  .nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $moose;
    width: 100%;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .affix {
    width: 100%;
  }
  .test {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background: $moose;
  }

  .nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $moose;
    width: 100%;
    height: 30px;
    font-size: 1.0em;
  }
  #main-logo {
    max-width: 120px;
    max-height: 120px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }

  #webapp-title {
      color: white;
      font-family: 'Almendra', serif;
      font-size: 2.0em;
      letter-spacing: 3px;
  }





}



@media (max-width: 450px) {

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background: $moose;
  }

#main-logo {
  max-width: 100px;
  max-height: 100px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#webapp-title {
    color: white;
    font-family: 'Almendra', serif;
    font-size: 1.6em;
    letter-spacing: 3px;
}

  .nav-block {
    display: none;
    align-items: center;
    justify-content: center;
    background: $moose;
    width: 100%;
    height: 100px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }

  nav ul li {
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    font-weight: 300;
  }

}



.services .row {
  display: inline;
}
.services {
  background-color: $app-secondary;
  width: inherit;
}

.tesimonials {
  background-color: $app-primary;
  width: inherit;
}
footer {
  width: 100%;
}

footer li {
  list-style: none;
}

.social li {
  display: inline;
}

.footer {
    margin-top: 20px;
    height: 150px;
    background-color: $app-secondary;
    color: black;
}

.book-form {
  width: 50%;
}

.service-img {
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
}
.profile {
  width: 95%;
  height: auto;
  border: 4px solid $moose;
}

p {
  color: black;
}

h2 {
  color: $large-font;
  font-family: serif;
  font-size: 3em;
}

h3 {
  color: black;
}

.about {
  background-color: $app-default;
  border-bottom: 6px solid $app-secondary;
  padding-bottom: 30px;
}

.philosophy {
  background-color: $moose;
  color: $app-default;
}

.philosophy p, .philosophy h2 {
   color: $app-default;
}

// .booknowButton {
//   background-color: #8FB295;
//   color: #fefaf9;
//   border-radius: 4px;
//   padding: 18px 45px;
//   border: 1px solid #e9daca;
//   min-width: 150px;
//   width: 20%;
//   text-align: center;
//   right: 40%;
//   z-index: 2;
//   position: fixed;
//   bottom: 20px;
// }

// .booknowButton a {
//   color: white;
//   background-color: inherit;
// }

// .booknowButton2 {
//   background-color: #8FB295;
//   color: #fefaf9;
//   border-radius: 4px;
//   padding: 18px 45px;
//   border: 1px solid #e9daca;
//   width: 20%;
//   min-width: 150px;
//   text-align: center;
// }
// .booknowButton2 a {
//   color: white;
//   background-color: inherit;
// }


.lavender {
  background-image: url("../../img/lavender-calmer.jpg");
  height: 400px;
  align-items: center;
  top: 0%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  width: 100%;
}
.forest {
  background-image: url("../../img/forest.jpg");
  height: 600px;
  align-items: center;
  top: 0%;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  width: 100%;
}

h2 {
  text-align: center;
}

.massage-img {
  width: 55%;
  height: auto;
  border: 4px solid $moose;
}

.bold-words {
  font-size: 2.0em;
}

.bold-words2 {
  font-size: 1.5em;
}
.front-contact {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.contact-1 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.cr li {
  list-style: none;
}

.cr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $app-default;
  margin: 10px;
  padding: 1%;
  border-radius: 20px;
  box-shadow: 0px 0px 8px $large-font;
  height: 300px;
  max-width: 50%;
  min-width: 400px;
}

.lol {
  margin: 10px;
  background-color: $app-default;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  text-align: center;
  border-radius: 20px;
  height: 300px;
  max-width: 50%;
  min-width: 400px;
  box-shadow: 0px 0px 8px $large-font;
}

.fit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;

}

.hands {
  width: 95%;
  max-width: 430px;
  height: auto;
  border: 4px solid $moose;
}
