@import "./vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "./vendor/font-awesome-4.6.3/scss/font-awesome.scss";
$app-default: green;
$app-primary: blue;
$app-secondary: white;
$moose: orange;

html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: $app-default;
}

.nav {
  margin-top: 30px;
  background-color: $moose;
}

.nav li {
  display: inline;
}
.services .row {
  display: inline;
}
.services {
  background-color: $app-secondary;
}

.tesimonials {
  background-color: $app-primary;
}

.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}
