<article class="about">
<h2>About</h2>
<section class="container">
  <div class="row">
    <div class="col-sm-5">
      <div>
        <img class="profile" src="img/margaret-profile.jpg" alt="Margaret" />
      </div>
    </div>
    <div class="col-sm-7">
      <h3>Margaret Carter LMP</h3>
      <p>In private massage Practice since 1996, I bring several decades of

massage experience and training to your time with me.

I have in the past spent 26 years as a group exercise trainer, which lends

a unique understanding of movement and rehabilitative strengthening

options to your session. I spent my first few years in practice tutoring at

risk students at Seattle Massage School after graduating with a 4.0 GPA.

I continue to expand my skills and training, most recently taking Thai

Massage classes and to advance my Myofascial Education with John F

Barnes PT.
</p>
<p>
I have worked in Chiropractors offices and hair salons, as well as my

own private locations. Each one has rounded out experience in different

areas , like relaxation/spa massage verses injury treatment after work

or car accidents. I can literally see restrictions in the body, and often

without prior knowledge, can tell exactly what has happened in a car

accident by the way the body responds after impact. This is helpful to

tell me where I should concentrate our sessions .
</p>
<p>

I have been a Stanwood area resident since 1984, raised all 3 grown

sons in this community as a single mom, and my massage practice has

been serving clients here since 1996. I currently still reside in the same

home with my partner Ron and our awesome cat , O’Malley.

In my spare time I love to grow food, cook, snowboard, hike our

incredible Northwest mountians, and travel as much as I can.</p>
    </div>
  </div>
</section>
</article>
<article class="philosophy">
<section>
<h2>Philosophy</h2>

<p>
  I believe each person is a complex system of body/mind relationships

which make up the whole. We are not just body, and muscle/bone, but

mind, and digestive,skin, other systems. Our emotions, as well as habits,

play a part in how we feel, as well as our stress levels, and methods for

managing that. The nutrition and hydration we choose also plays a large

part. Though my specialty is massage, I do take these influences into

account when working together for total body health and wellness for

you.
</p>

<p>Whether your goal is</p>
<ul>
  <li>stress reduction</li>
  <li>relaxation</li>
  <li>managing chronic pain or illness</li>
  <li>Headache/migraine support</li>
  <li>recovering from injury or illness</li>
</ul>
<p>
I can work together with your other providers to make up a complete

easy to follow program of care for YOUR personal, best result reflective

of your time and your goals.

To this end I bring lots of Massage Modalities to provide you with a

custom experience.</p>
</section>
</article>
