<section class="container">
  <div class="row">
    <div class="col-sm-4">
      <!-- <div class="profile"> -->
        <img class="profile" src="img/massage.jpg" alt="Margaret" />
      <!-- </div> -->
    </div>
    <div class="col-sm-8">
      <p>besides shrinking the div itself to the size you want, by reducing span size like so... ... http://twitter.github.com/bootstrap/scaffolding.html. I tried like all .... Sounds like you just wanted to</p>
      <p>besides shrinking the div itself to the size you want, by reducing span size like so... ... http://twitter.github.com/bootstrap/scaffolding.html. I tried like all .... Sounds like you just wanted to</p>
      <p>besides shrinking the div itself to the size you want, by reducing span size like so... ... http://twitter.github.com/bootstrap/scaffolding.html. I tried like all .... Sounds like you just wanted to</p>
    </div>
  </div>
</section>
