<div ng-controller="BookNowController" class="book-form">
  <div class="container">
  <form class="col-sm-6" action="mailto:katherine.beame@gmail.com" enctype="text/plain" method="post">
    <div class="form-group">
      <label for="input-email">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="name-input">Name</label>
      <input class="form-control" id="name-input" placeholder="First and Last Name">
    </div>
    <div class="form-group">
      <label for="service-select">Select Service</label>
      <select class="form-control" id="exampleSelect1" placeholder="Password">
        <option>-- No Service Selected --</option>
        <option>Relaxation</option>
        <option>Swedish</option>
        <option>Traeger</option>
        <option>Hawaiian Lomi-Lomi and Stone Massage</option>
        <option>Hot Stone Massage</option>
        <option>Deep Tissue</option>
        <option>Neuromuscular, Trigger Point Therapy</option>
        <option>Structural Integration Work</option>
        <option>Specific and Effective</option>
        <option>Somatic Intuitive Balancing</option>
        <option>Structural and Energetic</option>
        <option>Myofascial Release</option>
        <option>Cranial Sacral Techniquese</option>
        <option>Undecided</option>
      </select>
    </div>
    <div class="form-group">
      <label for="insurance-select">Select Prefered Insurance Type</label>
      <select class="form-control" id="exampleSelect1" placeholder="moose">
        <option>-- No Insurance Selected --</option>
        <option>PIP/Auto accident</option>
        <option>L and I /work injury</option>
        <option>Regence Blue Sheild/UMP</option>
        <option>HMA/tribes</option>
        <option>Blue Cross</option>
        <option>Lifewise</option>
        <option>Aetna</option>
        <option>Cigna</option>
        <option>Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" id="comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="col-sm-6">
    <img src="img/forest.jpg" alt="forest" />
  </div>
</div>
</div>
