<!-- <div ng-controller="HomeController" class="container"> -->
<!-- <div class="lavender">
</div> -->

<section class="container">
  <section class="row">
    <article class="lol">
      <p class="bold-words2">
        Winner of Stanwood-Camano News Best Massage Practitioner Award
      </p>
      <img class="hands" src="img/frontpage.jpeg" alt="massage hands" />
    </article>
    <article class="cr">
      <div class="bold-words">
        <p>
          <i class="fa fa-child fa-lg"> New Client Special</i>
        </p>
        <p>
          <i class="fa fa-heart fa-lg">      Only $65.00</i>
        </p>
        <p>
          <i class="fa fa-hourglass fa-lg">    1 Hour Massage</i>
        </p>
      </div>
      <div>
        <h3>Contact Us</h3>
        <div class="front-contact">
          <div class="contact-1">
            <h5>Email or Call to Make an Appointment</h5>
            <a href="tel:1-360-629-6757"><li><i class="fa fa-phone-square fa-lg"></i> (360) 629-6757</li></a>
            <a href="tel:1-360-629-9985"><li><i class="fa fa-fax-square fa-lg"></i>Fax: (360) 629-9985</li></a>
          </div>
          <div class="contact-1">
            <h5>Location</h5>
            <a target="_blank" href="https://www.google.com/maps/place/Alpha+Omega+Massage+Therapy/@48.271636,-122.3072997,17z/data=!4m13!1m7!3m6!1s0x54855ccf94f505b1:0xa95123b6b70001c!2s30327+56th+Ave+NW,+Stanwood,+WA+98292!3b1!8m2!3d48.271636!4d-122.305111!3m4!1s0x54855ccf94f505b1:0x5e40360a9dbdc0a7!8m2!3d48.271636!4d-122.305111">
              <li>30327 56th Ave NW</li>
              <li>Stanwood, WA</li>
              <li>USA 98292</li>
            </a>
          </div>
        </div>
      </div>
    </article>



  </section>

</section>


<!-- <div class="container">
  <div class="buttonStays row">
    <div class="booknowButton"><a href="#book-now1">Book Now</a></div>
  </div>
</div> -->

<div class="services">
	<div class="container">
    <h2>Services</h2>
		<div class="row">
	  	<div class="col-sm-6">
			  <h3>Massage Type 1</h3>
			  <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
			  <p><a href="#">Learn More About Massage</a></p>
		  </div>

		  <div class="col-sm-6">
  			<h3>Massage Type 2</h3>
  			<p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
  			<p><a href="#">Learn More About Massage</a></p>
	    </div>
    </div>
    <div class="row">
	  	<div class="col-sm-6">
			  <h3>Massage Type 3</h3>
			  <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
			  <p><a href="#">Learn More About Massage</a></p>
		  </div>

		  <div class="col-sm-6">
        <div>
  			<h3>Massage Type 4</h3>
  			<p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
  			<p><a href="#">Learn More About Massage</a></p>
	    </div>
    </div>
	</div>
  <div class="row">
    <a class="col-sm-12" href="#/services">See more content</a>
  </div>
</div>
<div class="lavender">
</div>
<article class="about">
<h2>About</h2>
<section class="container">
  <div class="row">
    <div class="col-sm-5">
      <div>
        <img class="profile" src="img/margaret-profile.jpg" alt="Margaret" />
        <h3>Serving Standwood-Camano Since 1996</h3>
        <h3>Serving Standwood-Camano Since 1996</h3>
      </div>
    </div>
    <div class="col-sm-7">
      <h3>Margaret Carter LMP</h3>
      <p>In private massage Practice since 1996, I bring several decades of

massage experience and training to your time with me.

I have in the past spent 26 years as a group exercise trainer, which lends

a unique understanding of movement and rehabilitative strengthening

options to your session. I spent my first few years in practice tutoring at

risk students at Seattle Massage School after graduating with a 4.0 GPA.

I continue to expand my skills and training, most recently taking Thai

Massage classes and to advance my Myofascial Education with John F

Barnes PT.
</p>
<p>
I have worked in Chiropractors offices and hair salons, as well as my

own private locations. Each one has rounded out experience in different

areas , like relaxation/spa massage verses injury treatment after work

or car accidents. I can literally see restrictions in the body, and often

without prior knowledge, can tell exactly what has happened in a car

accident by the way the body responds after impact. This is helpful to

tell me where I should concentrate our sessions .
</p>
<p>

I have been a Stanwood area resident since 1984, raised all 3 grown

sons in this community as a single mom, and my massage practice has

been serving clients here since 1996. I currently still reside in the same

home with my partner Ron and our awesome cat , O’Malley.

In my spare time I love to grow food, cook, snowboard, hike our

incredible Northwest mountians, and travel as much as I can.</p>

<ul>
  <li>NPI 115446725</li>
  <li>Lisc # MA00009088</li>
</ul>
    </div>
  </div>
</section>
</article>

<article class="philosophy">
<section>
<h2>Philosophy</h2>

<p>
  I believe each person is a complex system of body/mind relationships

which make up the whole. We are not just body, and muscle/bone, but

mind, and digestive,skin, other systems. Our emotions, as well as habits,

play a part in how we feel, as well as our stress levels, and methods for

managing that. The nutrition and hydration we choose also plays a large

part. Though my specialty is massage, I do take these influences into

account when working together for total body health and wellness for

you.
</p>

<p>Whether your goal is</p>
<ul>
  <li>stress reduction</li>
  <li>relaxation</li>
  <li>managing chronic pain or illness</li>
  <li>Headache/migraine support</li>
  <li>recovering from injury or illness</li>
</ul>
<p>
I can work together with your other providers to make up a complete

easy to follow program of care for YOUR personal, best result reflective

of your time and your goals.

To this end I bring lots of Massage Modalities to provide you with a

custom experience.</p>
</section>
</article>

<!-- testimonials -->
<div class="tesimonials">
  <div class="container">
    <h2>Testimonials</h2>
    <div class="row">
      <div class="col-sm-12 melva">
        <blockquote>
          <p>“I have been a client of Margaret for more than 10 years receiving massage therapy for on-going chronic issues, She has provided very caring, therapeutic services which have kept me from requiring more invasive interventions due to the improvement in my specific condition.</p>
          <footer>Melva</footer>
        </blockquote>
      </div>
      <div class="col-sm-12 ron">
        <blockquote>
          <p>“Margaret has provided me with the best massages I have ever received ... What I appreciate most is that she is completely focussed on the body’s energy and seems to know instinctively exactly what is needed to release a point of tension or to cause a muscle to relax and let go. You can tell she is a healer of the highest order”</p>
          <footer>Ron</footer>
        </blockquote>
      </div>
      <div class="col-sm-12 jana">
        <blockquote>
          <p>“After every appointment, my pain was alleviated and my peace of mind restored. I looked forward to every appointment. Margaret is a perfect fit for a caregiving role - she is welcoming and calming.”</p>
          <footer>Jana</footer>
        </blockquote>
      </div>
      <div class="col-sm-12 alice">
        <blockquote>
          <p>“I searched high and low for a knowledgeable therapist who was expert in a variety of modalities and could quickly determine what best addressed my needs. Margaret’s approach and high standards are what I was looking for. I have been enjoying the results of Margaret’s work for nearly four years and highly recommend her.”</p>
          <footer>Alice</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<div class="forest">
</div>
<section id=book-now1>
  <h2>Pricing and Insurance</h2>
  <article class="">
    <p>
      Here are a list of insurance that I am able to cover:
    </p>
    <ul>
      <li>PIP/Auto accident</li>
      <li>L and I /work injury</li>
      <li>Regence Blue Sheild/UMP</li>
      <li>HMA/tribes</li>
      <li>Blue Cross</li>
      <li>Lifewise</li>
      <li>Aetna</li>
      <li>Cigna</li>
      <li>I can help you if you are able to bill out of care</li>
    </ul>
  </article>
  <article class="">
    <h6>Prices</h6>
    <p>
      1 Hour Massage         $75.00
      1 1/2 Hour Massage    $115.00
    </p>
    <h6>Specialty Massage</h6>
    <p>
      1 1/4 Hour           $95.00
            <li>Hawaiian bodywork (Stone or Lomi Lomi)</li>
            <li>Energetic Blancing</li>
            <li>Cranial</li>
    </p>
    <h6>Inury and Treatment Work</h6>
    <p>
      Medical Massage     $36.00 per 15 min increment
    </p>
  </article>
</section>
<div ng-controller="BookNowController" class="book-form">
  <h2>Book Now</h2>
  <div class="container">
    <div class="row">
      <p>
        To book an appointment, use the button below or call at 206-555-5555.
      </p>
      <p>
        Appointments Available
        Mon - Fri: 10am - 8pm
        Sat & Sun: 10am - 6pm
      </p>
      <p>
        Look forward to working with you soon!
      </p>
    </div>
  <form class="col-sm-6" action="mailto:katherine.beame@gmail.com" enctype="text/plain" method="post">
    <div class="form-group">
      <label for="input-email">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="name-input">Name</label>
      <input class="form-control" id="name-input" placeholder="First and Last Name">
    </div>
    <div class="form-group">
      <label for="service-select">Select Service</label>
      <select class="form-control" id="exampleSelect1" placeholder="Password">
        <option>-- No Service Selected --</option>
        <option>Relaxation</option>
        <option>Swedish</option>
        <option>Traeger</option>
        <option>Hawaiian Lomi-Lomi and Stone Massage</option>
        <option>Hot Stone Massage</option>
        <option>Deep Tissue</option>
        <option>Neuromuscular, Trigger Point Therapy</option>
        <option>Structural Integration Work</option>
        <option>Specific and Effective</option>
        <option>Somatic Intuitive Balancing</option>
        <option>Structural and Energetic</option>
        <option>Myofascial Release</option>
        <option>Cranial Sacral Techniquese</option>
        <option>Undecided</option>
      </select>
    </div>
    <div class="form-group">
      <label for="insurance-select">Select Prefered Insurance Type</label>
      <select class="form-control" id="exampleSelect1" placeholder="moose">
        <option>-- No Insurance Selected --</option>
        <option>PIP/Auto accident</option>
        <option>L and I /work injury</option>
        <option>Regence Blue Sheild/UMP</option>
        <option>HMA/tribes</option>
        <option>Blue Cross</option>
        <option>Lifewise</option>
        <option>Aetna</option>
        <option>Cigna</option>
        <option>Other</option>
      </select>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" id="comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div class="col-sm-6">
      <img class="profile" src="img/massage.jpg" alt="massage" />
  </div>
</div>
</div>
