
<section>
<section id="home" class="container">

  <section class="fit">

      <article class="lol">
        <p class="bold-words2">
          Four Time Winner of Stanwood-Camano News Best Massage Practitioner Award
        </p>
        <img class="hands" src="../../img/frontpage.jpg" alt="massage hands" />
      </article>
      <article class="cr">
        <div class="bold-words">
          <p>
            <i class="fa fa-child fa-lg"> New Client Special</i>
          </p>
          <p>
            <i class="fa fa-heart fa-lg">      $15.00 discount</i>
          </p>
          <p>
            <i id="rates" class="fa fa-hourglass fa-lg">    1 Hour Massage</i>
          </p>
        </div>
        <div>
          <h3>Email or Call to Make an Appointment</h3>
          <div class="front-contact">
            <div class="contact-1">
              <h5>Contact Us</h5>
              <a href="tel:1-360-629-7145"><li><i class="fa fa-phone-square fa-lg"></i>  (360) 629-7145</li></a>
              <a href="tel:1-360-629-9985"><li><i class="fa fa-fax fa-lg"></i> (360) 629-9985</li></a>
              <a href="mailto:alomeg@frontier.com?Subject=Massage%20Inquiry" target="_top"><li>alomeg@frontier.com</li></a>
            </div>
            <div class="contact-1">
              <h5>Address</h5>
              <a target="_blank" href="https://www.google.com/maps/place/Alpha+Omega+Massage+Therapy/@48.271636,-122.3072997,17z/data=!4m13!1m7!3m6!1s0x54855ccf94f505b1:0xa95123b6b70001c!2s30327+56th+Ave+NW,+Stanwood,+WA+98292!3b1!8m2!3d48.271636!4d-122.305111!3m4!1s0x54855ccf94f505b1:0x5e40360a9dbdc0a7!8m2!3d48.271636!4d-122.305111">
                <li>30327 56th Ave NW</li>
                <li>Stanwood, WA</li>
                <li>USA 98292</li>
              </a>
            </div>
          </div>
        </div>
      </article>
  </section>
</section>

<div class="services">
	<div class="container">
    <h2>Services and Prices</h2>
    <div class="books">
      <p>
        To book an appointment call, email or fill out the form below:
      </p>
      <p>
        <a href="tel:1-360-629-7145"><i class="fa fa-phone-square fa-lg"></i> (360) 629-7145</a>
      </p>
      <p>
        <a href="mailto:alomeg@frontier.com?Subject=Massage%20Inquiry" target="_top">alomeg@frontier.com</a>
      </p>
    </div>
    <section class="outer-container">
    <article id="foo" class="prices">
      <div class="left-prices">
        <h4>Massage</h4>
      <p>
        1 Hour Massage
      </p>
      <p>
        1 1/2 Hour Massage
      </p>
      <h4>New Client Special</h4>
      <p>
        1 Hour Massage         $15.00 discount
      </p>
    </div>
    <div class="right-prices">
      <h4>Specialty Massage</h4>
      <p>
        1 1/4 Hour
        <ul>
          <li>Hawaiian bodywork (Stone or Lomi Lomi)</li>
          <li>Energetic Balancing</li>
          <li>Cranial</li>
        </ul>
      </p>
      <p class="smaller-words">Note: Please give at least 5 hours notice prior to Stone Massage
    </p>
    <p class="smaller-words">
      to allow for preparation of stones.
    </p>
      <h4>Injury and Treatment Work</h4>
      <p>Medical Massage</p>
      <p class="smaller-words">Note: If your medical insurance has out of network coverage,</p>
      <p class="smaller-words">I can provide a super bill for you to submit for reimbursment</p>
    </div>
    </article>
  </section>
  <h2>Massage Options</h2>
		<div class="row text-center">
	  	<div class="col-sm-6">
        <div class="position-left">
          <img class="service-img" src="../../img/relaxation.jpg" alt="relaxation" />
        </div>
        <div class="position-right">
  			  <h3>Relaxation Massage</h3>
  			  <p>Generally lighter in pressure, increasing circulation and connectivity in the body; I bring elements of Swedish, Esalen, Lomi Lomi, Thai, Traeger, Manual Lymphatic Drainage to this full body massage.
          Any or all of these luscious techniques can be combined for a truly incredible "getaway" experience.</p>
        </div>
		  </div>

		  <div class="col-sm-6">
        <div class="position-left">
          <img class="service-img" src="../../img/oils.jpg" alt="oils" />
        </div>
        <div class="position-right">
  			<h3>Myofascial Release and Mobilization</h3>
  			<p>This work, pioneered by John F Barnes, is my specialty.

It differs from other types of massage because it addresses restrictions

and habitual patterns deep within the connective (fascial) system,

which directly affect every other system, including emotional, in the

body. This work is done without oils, going just to the barrier, and then

allowing the body to “unwind” or release long held restrictions. I love it

because it is non-invasive, great for Acute injury when the body won't

tolerate traditional work, and only goes with the body’s invitation, so it

is powerful but never painful.</p>
	    </div>
    </div>
  </div>
    <div class="row text-center">
	  	<div class="col-sm-6">
          <div class="position-left">
            <img class="service-img" src="../../img/table.jpg" alt="table" />
          </div>
        <div class="position-right">
			  <h3>Deep Tissue, Injury Treatment</h3>
			  <p>Specific, structural reorganizing, rebalancing based on client information/complaints and my observations of their particular patterns to injuries. This is a very deep myofascial and muscular work taken just to tolerance working in tandem with the client to release core or new injuries/restrictions, allowing freedom of movement as well as reduced pain and stiffness.</p>
		  </div>
    </div>

		  <div class="col-sm-6">
          <div class="position-left">
            <img class="service-img" src="../../img/head.jpg" alt="cranial" />
          </div>
        <div class="position-right">
  			<h3>Cranial Sacral</h3>
  			<p>Working with the deepest layers of fascia, this treatment follows a 10-step protocol to assess and release myofascial restrictions on the brain cavity and dural tube.
        Essential for migranes and recurring headaches, it also help immunity and other regulatory systems in the body.
      Can be combined with Deep Tissue for a truly effective approach to chronic pain.</p>
	    </div>
    </div>
	</div>

  <div tyle="height:1000px" class="row text-center">
    <div class="col-sm-6">
      <div class="position-left">
        <img class="service-img" src="../../img/stones.jpg" alt="stones" />
      </div>
      <div class="position-right">
        <h3>Hot Stone</h3>
        <p>Ancient cultures have used this practice to produce deep, healing relaxation and warming detoxification of the tissues. I use the stones as an extentions of my own hands, with either a treatment intention, deep clearing and relaxation, or both. Stones can be placed on or above blocked areas, and/or the body's energy centers to encourage release. Extremely grounding in nature, this ancient healing art is a truly unique full body experience.</p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="position-left">
        <img class="service-img" src="../../img/lomi.jpg" alt="lomi" />
      </div>
      <div class="position-right">
      <h3>Hawaiian Lomi Lomi/Thai Table</h3>
      <p>"Lomi Lomi" means salmon in Hawaiian, with a deeper meaning of "returning to the source." This deeply moving, prayerful bodywork is profoundly healing, relaxing and energizing at the same time. Yin/Yang energetic interplay, stretches, and full length strokes with movement/rocking are hallmarks of this work. I blend with Thai moves/compression for the ultimate experience.</p>
    </div>
  </div>
</div>

</div>
</div>
</div>
<div id="info" class="lavender">
</div>
<article class="about">
<h2>About</h2>
<section class="container">
  <div class="row">
    <div class="col-sm-5">
      <div>
        <img class="profile" src="../../img/margaret-profile.jpg" alt="Margaret" />
      </div>
    </div>
    <div class="col-sm-7">
      <h3>Margaret Carter LMP</h3>
      <p>In private massage Practice since 1996, I bring several decades of

massage experience and training to your time with me.

I have in the past spent 26 years as a group exercise trainer, which lends

a unique understanding of movement and rehabilitative strengthening

options to your session. I spent my first few years in practice tutoring at

risk students at Seattle Massage School after graduating with a 4.0 GPA.

I continue to expand my skills and training, most recently taking Thai

Massage classes and to advance my Myofascial Education with John F

Barnes PT.
</p>
<p>
I have worked in Chiropractor offices and hair salons, as well as my

own private locations. Each one has rounded out my experience in different

areas , like relaxation/spa massage verses injury treatment after work

or car accidents. I can literally see restrictions in the body, and often

without prior knowledge, can tell exactly what has happened in a car

accident by the way the body responds after impact. This is helpful to

tell me where I should concentrate our sessions .
</p>
<p>

I have been a Stanwood area resident since 1984, raised all 3 grown

sons in this community as a single mom, and my massage practice has

been serving clients here since 1996. I currently still reside in the same

home with my partner Ron and our awesome cat, O’Malley.

In my spare time I love to grow food, cook, snowboard, hike our

incredible Northwest mountains, and travel as much as I can.</p>

<h3>Serving Stanwood-Camano Since 1996</h3>
<p>NPI 115446725</p>
<p>Lisc # MA00009088</p>
    </div>
  </div>
</section>
</article>

<article class="philosophy">
<section class="philo1">

    <h2>Philosophy</h2>

    <p class="para">
      I believe each person is a complex system of body/mind relationships

      which make up the whole. We are not just body and muscle and bone. We are also mind, digestive, skin, and other systems all working together. Our emotions, as well as habits, play a part in how we feel, as well as our stress levels, and methods for

      managing that. The nutrition and hydration we choose also plays a large

      part. Though my specialty is massage, I do take these influences into

      account when working together for total body health and wellness for

      you.
    </p>

<div class="philo-goal">
  <div class="goal">
    <h3>Whether your goal is</h3>
    <ul>
      <li>Stress reduction</li>
      <li>Relaxation</li>
      <li>Managing chronic pain or illness</li>
      <li>Headache/migraine support</li>
      <li>Recovering from injury or illness</li>
    </ul>

  </div>
  <img class="zen" src="../../img/logo.png" alt="zen massage" />
</div>
<p class="para2">
  I can work together with your other providers to make up a complete

  easy to follow program of care for YOUR personal, best result reflective

  of your time and your goals.

  To this end I bring lots of Massage Modalities to provide you with a

  custom experience.
</p>
</section>
</article>

<!-- testimonials -->
<div class="tesimonials">
  <div class="container">
    <h2>Testimonials</h2>
    <div class="row">
      <div class="col-sm-12 melva">
        <blockquote>
          <p>“As a client of Margaret Carter for the past 16 years, I can testify to the ongoing health benefits that massage has afforded me.
A few years back I needed to see an orthopedic physician due to an injury from childhood, his assessment was that because
of all the alternative health practitioners I receive treatments from my range of motion and level of disc deterioration was not
as severe as it would have been considering the level of injury to my neck and back. He concluded that because I availed
myself of such therapies surgery was not an optional treatment and to continue with the massage and other therapies."</p>
          <footer>Melva, clinical psychologist</footer>
        </blockquote>
      </div>
      <div class="col-sm-12 ron">
        <blockquote>
          <p>“Margaret is a great massage therapist!  She has helped me recover from several injuries in addition to providing regularly scheduled massage to keep me in good working order.  She always checks on my current needs and I leave feeling cared for, calm, and relaxed.  Margaret's massage room is very pleasant, she caters to my preference for a warm massage table, and her schedule is flexible.  Thank you Margaret for many years of excellent care!
"</p>
          <footer>Katie, retired teacher</footer>
        </blockquote>
      </div>
      <div class="col-sm-12 jana">
        <blockquote>
          <p>“After every appointment, my pain was alleviated and my peace of mind restored. I looked forward to every appointment. Margaret is a perfect fit for a caregiving role - she is welcoming and calming.”</p>
          <footer>Jana</footer>
        </blockquote>
      </div>
      <div class="col-sm-12 alice">
        <blockquote>
          <p>“I searched high and low for a knowledgeable therapist who was expert in a variety of modalities and could quickly determine what best addressed my needs. Margaret’s approach and high standards are what I was looking for. I have been enjoying the results of Margaret’s work for nearly four years and highly recommend her.”</p>
          <footer>Alice</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div id="covid" class="forest">
</div>
<section class="covid-container">
  <article id="schedule" class="covid">
    <h2>COVID Guidelines</h2>
    <p>
      Alpha Omega Massage follows current covid protocols as advised by the Department of Health.
    </p>
  </article>
</section>
<section class="book-form">
  <h2>Book Now</h2>
  <section class="book-now-section">
    <div class="booking">
      <p>
        To book an appointment call or email:
      </p>
      <p>
        <a href="tel:1-360-629-7145"><i class="fa fa-phone-square fa-lg"></i> (360) 629-7145</a>
      </p>
      <p>
        <a href="mailto:alomeg@frontier.com?Subject=Massage%20Inquiry" target="_top">alomeg@frontier.com</a>
      </p>
      <p>
        Appointments Available:
      </p>
      <p>
        Tues - Fri: 9:00 am - 6:30 pm
      </p>
    </div>
    <section class="form-section">
</section>
</section>
<p class="right-small">
  Website By <a href="https://www.linkedin.com/in/katbeame" target="_top">Katherine Beame</a>
</p>
</section>
