<div ng-controller="HomeController" class="container">

      <!-- The carousel content was found on https://bootstrapbay.com/blog/bootstrap-3-carousel-tutorial/ -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="img/forest.jpg" alt="forest">
          <div class="carousel-caption">
            Release Stress
            Revive Yourself
          </div>
        </div>
        <div class="item">
          <img src="img/forest.jpg" alt="Margaret">
          <div class="carousel-caption">
            Margaret
          </div>
        </div>
        <div class="item">
          <img src="img/forest.jpg" alt="massage">
          <div class="carousel-caption">
            Margaret
          </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<!-- </div> -->
<div class="services">
	<div class="container">
    <h2>Services</h2>
		<div class="row">
	  	<div class="col-sm-6">
			  <h3>Massage Type 1</h3>
			  <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
			  <p><a href="#">Learn More About Massage</a></p>
		  </div>

		  <div class="col-sm-6">
  			<h3>Massage Type 2</h3>
  			<p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
  			<p><a href="#">Learn More About Massage</a></p>
	    </div>
    </div>
    <div class="row">
	  	<div class="col-sm-6">
			  <h3>Massage Type 3</h3>
			  <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
			  <p><a href="#">Learn More About Massage</a></p>
		  </div>

		  <div class="col-sm-6">
        <div>
  			<h3>Massage Type 4</h3>
  			<p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
  			<p><a href="#">Learn More About Massage</a></p>
	    </div>
    </div>
	</div>
</div>
<!-- testimonials -->
<div class="tesimonials">
  <div class="container">
    <h2>Testimonials</h2>
    <div class="row">
      <div class="col-sm-12 melva">
        <blockquote>
          <p>“I have been a client of Margaret for more than 10 years receiving massage therapy for on-going chronic issues, She has provided very caring, therapeutic services which have kept me from requiring more invasive interventions due to the improvement in my specific condition.</p>
          <footer>Melva</footer>
        </blockquote>
      </div>
      <div class="col-sm-12 ron">
        <blockquote>
          <p>“Margaret has provided me with the best massages I have ever received ... What I appreciate most is that she is completely focussed on the body’s energy and seems to know instinctively exactly what is needed to release a point of tension or to cause a muscle to relax and let go. You can tell she is a healer of the highest order”</p>
          <footer>Ron</footer>
        </blockquote>
      </div>
      <div class="col-sm-12 jana">
        <blockquote>
          <p>“After every appointment, my pain was alleviated and my peace of mind restored. I looked forward to every appointment. Margaret is a perfect fit for a caregiving role - she is welcoming and calming.”</p>
          <footer>Jana</footer>
        </blockquote>
      </div>
      <div class="col-sm-12 alice">
        <blockquote>
          <p>“I searched high and low for a knowledgeable therapist who was expert in a variety of modalities and could quickly determine what best addressed my needs. Margaret’s approach and high standards are what I was looking for. I have been enjoying the results of Margaret’s work for nearly four years and highly recommend her.”</p>
          <footer>Alice</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
