<div class="services">
	<div class="container">
    <h2>Services</h2>
		<div class="row text-center">
	  	<div class="col-sm-6">
        <div class="position-left">
          <img class="service-img" src="img/forest.jpg" alt="forest" />
        </div>
        <div class="position-right">
  			  <h3>Massage Type 1</h3>
  			  <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
  			  <p><a href="#">Learn More About Massage</a></p>
        </div>
		  </div>

		  <div class="col-sm-6">
        <div class="position-left">
          <img class="service-img" src="img/forest.jpg" alt="forest" />
        </div>
        <div class="position-right">
  			<h3>MYOFASCIAL RELEASE and MOBILIZATION:</h3>
  			<p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
  			<p><a href="#">Learn More About Massage</a></p>
	    </div>
    </div>
  </div>
    <div class="row text-center">
	  	<div class="col-sm-6">
          <div class="position-left">
            <img class="service-img" src="img/forest.jpg" alt="forest" />
          </div>
        <div class="position-right">
			  <h3>Massage Type 3</h3>
			  <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
			  <p><a href="#">Learn More About Massage</a></p>
		  </div>
    </div>

		  <div class="col-sm-6">
          <div class="position-left">
            <img class="service-img" src="img/forest.jpg" alt="forest" />
          </div>
        <div class="position-right">
  			<h3>Massage Type 4</h3>
  			<p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
  			<p><a href="#">Learn More About Massage</a></p>
	    </div>
    </div>
	</div>
	<div class="parallax"></div>

	<!-- <div style="height:1000px;background-color:red;font-size:36px">
	Scroll Up and Down this page to see the parallax scrolling effect.
	This div is just here to enable scrolling.
	Tip: Try to remove the background-attachment property to remove the scrolling effect.
	</div> -->
  <div tyle="height:1000px" class="row text-center">
    <div class="col-sm-6">
      <div class="position-left">
        <img class="service-img" src="img/forest.jpg" alt="forest" />
      </div>
      <div class="position-right">
        <h3>Massage Type 5</h3>
        <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
        <p><a href="#">Learn More About Massage</a></p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="position-left">
        <img class="service-img" src="img/forest.jpg" alt="forest" />
      </div>
      <div class="position-right">
      <h3>Massage Type 6</h3>
      <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
      <p><a href="#">Learn More About Massage</a></p>
    </div>
  </div>
</div>
  <div class="row text-center">
    <div class="col-sm-6">
        <div class="position-left">
          <img class="service-img" src="img/forest.jpg" alt="forest" />
        </div>
      <div class="position-right">
      <h3>Massage Type 7</h3>
      <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
      <p><a href="#">Learn More About Massage</a></p>
    </div>
  </div>

    <div class="col-sm-6">
        <div class="position-left">
          <img class="service-img" src="img/forest.jpg" alt="forest" />
        </div>
      <div class="position-right">
      <h3>Massage Type 8</h3>
      <p>Lorem ipsum dolor sit amet, vestibulum lectus eros leo</p>
      <p><a href="#">Learn More About Massage</a></p>
    </div>
  </div>
</div>
</div>
</div>
